<!-- templates/select_page.html -->
<!DOCTYPE html>


<head>
	<title>Back Home or NOT </title>
	<meta charset='utf-8'>

	<!-- import jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

	<!-- imort boostrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- custom style -->
	<link rel="stylesheet" href="{{STATIC_URL}}styles/select_page_style.css">

</head>


<body>

	<div class="container">
		{% include "includes/general_header.html" %}

		<div class="jumbotron">
			<h1>哈囉! {{member.name}}</h1>
			<p class="lead">這禮拜要回阿公阿罵家嗎?</p>

			<div class="container">
				<p><a class="btn btn-lg btn-success options" href="#" role="button">要阿當然!! </a></p>
				<p><a class="btn btn-lg btn-danger options" href="#" role="button">這禮拜不行耶</a></p>
			</div>

			<p class="lead lead-thin" id="not_me_link"><a>這個人不是我?</a></p>
		</div>


		<footer class="footer">
			<p>&copy; TomScope 2015</p>
		</footer>

	</div> <!-- /container -->

</body>